.btns, .inputs {
    margin: 20px;
}

input[type="number"] {
    border-radius: 10px;
    border: 2px solid #aaa;
    padding: 5px;
    font-size: 1.1em;
    margin-bottom: 10px;
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 20px;
    color: #fff;
    font-size: 1.05em;
    font-weight: 600;
    cursor: pointer;
}

#launch { background-color: deepskyblue; }
#reset { background-color: crimson; }

.control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.board {
    position: relative;
    margin: 20px;
    height: 450px;
}

.board::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    width: 100%;
    height: 2px;
    background-color: black;
}

.board::after {
    content: "";
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.x {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(200%) translateY(50%);
}

.y {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-100%);
}

#projectile {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: darkred;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    border-radius: 50%;
}

.path {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
}

.yDist, .xDist {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 1.1em;
}

#angleMsg {
    color: red;
    font-weight: 600;
    margin-top: 5px;
}
